<div class="card-item col">
    <div class="card hoverable">
      <div class="row g-0">
        {% if speaker.img %}
          <div class="card-img col-md-5">
            {% include figure.liquid loading="eager" path=speaker.img sizes="(min-width: 768px) 156px, 50vw" alt="speaker thumbnail" %}
          </div>
        {% endif %}
        <div class="{% if speaker.img %}col-md-7{% else %}col-md-12{% endif %}">
          <div class="card-body">
            <h4 class="card-title">{{ speaker.name }}</h4>
            <p class="card-text">{{ speaker.affiliation }}</p>
            <div class="row ml-1 mr-1 p-0">
              {% if speaker.website %}
                    <a href="{{ speaker.website }}"><i class="ti ti-home"></i></a>
              {% endif %}
              {% if speaker.scholar %}
                    <a href="{{ speaker.scholar }}"><i class="ai ai-google-scholar"></i></a>
              {% endif %}
              {% if speaker.twitter %}
                    <a href="{{ speaker.twitter }}"><i class="fa-brands fa-twitter gh-icon"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
</div>